@charset "UTF-8";

@media  screen and (min-width: 1025px) and (max-width: 1280px) {
    
    .home-text-container {
        width: 900px;
        position: absolute;
        top: 120px;
        left: 40px;
    }

    .sobre-image-container {
        height: 350px;
        
    }

    .sobre-text-container {
        height: 350px;
        width: 700px;
        padding: 20px 40px 20px 40px;
    }

    .sobre-text-container p {
        font-size: 15px;
    }

    form {
        width: 460px;
    }
    
    input, textarea {
        width: 100%;
    }



}
